@inherits LayoutComponentBase
<MudThemeProvider @bind-IsDarkMode="UserService.IsDarkMode" Theme="_theme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <PageTitle>ChatUiT</PageTitle>
    
    <MudAppBar Elevation="0" Dense Color="Color.Transparent" DisableGutters>
        @if (!drawerOpen)
        {
            <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowRight" OnClick="() => drawerOpen = true" />
            <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="UserService.NewChat" />
            <MudDivider Vertical Style="height:32px" Class="pl-2" />

        }


        @* Model selection *@
        <ModelSelect />
           
        @* Model config *@
        <div class="d-flex">
            <MudIconButton Icon="@Icons.Material.Filled.Settings" OnClick="OpenChatSettings" />
        </div>

        @* Save work item*@
        @if (!UserService.CurrentWorkItem.IsFavorite)
        {            
            <MudTooltip Text="@(CurrentWorkItemPersistant ? "This chat will be saved" : "This chat will not be saved")">
                <MudSwitch @bind-Value="CurrentWorkItemPersistant" 
                    Disabled="UserService.CurrentWorkItem.IsFavorite" 
                    T="bool" 
                    Color="@(UserService.IsDarkMode ? Color.Dark : Color.Default)" 
                    UnCheckedColor="@(UserService.IsDarkMode ? Color.Dark : Color.Default)" 
                    ThumbIconColor="@(CurrentWorkItemPersistant ? Color.Success : Color.Error)" 
                    ThumbIcon="@(CurrentWorkItemPersistant ? Icons.Material.Filled.CloudDone : Icons.Material.Filled.CloudOff)" Size="Size.Large" />
            </MudTooltip>
        }




        
        <MudSpacer />

        @* Dark mode *@
        <MudSwitch @bind-Value="UserService.IsDarkMode" Color="Color.Dark" ThumbIcon="@(UserService.IsDarkMode ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode)" Size="Size.Large" />


        @* User menu *@
        <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
            <ActivatorContent>
                <MudButton Variant="Variant.Text" Style="width: 48px; height: 48px; min-width: 48px; min-height: 48px; padding: 0; display: flex; align-items: center; justify-content: center;">
                    <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Size="Size.Large"/>
                </MudButton>
            </ActivatorContent>
            <ChildContent>
                <div class="pl-4 pb-2">
                    <MudText Typo="Typo.body2">Logged in as:</MudText>
                    @if (username != "") { <MudText Typo="Typo.body1">@username</MudText> }
                    else { <MudText Typo="Typo.body1">Not logged in</MudText> }
                </div>
                <MudDivider />
                <MudMenuItem OnClick="OpenUserSettings">
                    <MudStack Row Style="width:150px">
                        <MudIcon Icon="@Icons.Material.Filled.Settings" /> 
                        Preferences 
                    </MudStack>
                </MudMenuItem>
                <MudDivider />
                <MudMenuItem OnClick="Logout">
                    <MudStack Row Style="width:150px">
                        <MudIcon Icon="@Icons.Material.Filled.ExitToApp" /> 
                        Logout
                    </MudStack>
                </MudMenuItem>
            </ChildContent>
        </MudMenu>




    </MudAppBar>


    <MudDrawer @bind-Open="drawerOpen" Fixed Elevation="0" Style="background-color: var(--mud-palette-background-grey)">
        <NavMenu OnClose="CloseDrawer" />
    </MudDrawer>

    @* Main Content *@
    <MudMainContent Style="padding-top: 48px">
        <div style="
            display: flex;
            flex-direction: column;
            height: calc(100vh - 48px);
            overflow: auto;
            ">
            @Body
        </div>
    </MudMainContent>

    
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject] private IUserService UserService { get; set; } = null!;
    [Inject] private IDialogService DialogService { get; set; } = null!;
    [Inject] private IAuthUserService AuthUserService { get; set; } = null!;
    [Inject] private IConfiguration Configuration { get; set; } = null!;
    [Inject] private NavigationManager Nav { get; set; } = null!;
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = null!;

    private string username = "";

    private bool CurrentWorkItemPersistant
    {
        get => UserService.CurrentWorkItem.Persistant;
        set
        {
            UserService.SetSaveHistory(UserService.CurrentWorkItem, value);
        }
    }


    private MudTheme _theme = new();
    // private bool _isHistoryEnabled = true;
    private bool drawerOpen = true;

    protected override void OnInitialized()
    {
        UserService.OnUpdate += UpdateView;
        base.OnInitialized();
        GetUsername();
    }

    public void Dispose()
    {
        UserService.OnUpdate -= UpdateView;
    }

    public void UpdateView()
    {
        StateHasChanged();
    }

    private void CloseDrawer()
    {
        drawerOpen = false;
    }

    private void OpenChatSettings()
    {
        DialogOptions chatSettingsOptions = new DialogOptions
        {
            MaxWidth = MaxWidth.ExtraExtraLarge,
            NoHeader = false,
            CloseButton = true,
            FullWidth = false,
            ClassBackground = "bg-transparent",
        };
        DialogService.Show<ChatSettingsView>(title: "Chat settings", options: chatSettingsOptions);
    }

    private async void GetUsername()
    {
        var result = await AuthUserService.GetUsername();
        if (result != null)
        {
            username = result;
        }
        else
        {
            username = "";
        }
        StateHasChanged();
    }

    private void OpenUserSettings()
    {
        // TODO: Implement
    }

    private async void Logout()
    {
        await Task.Delay(10);
    }

}