@inherits LayoutComponentBase
<MudThemeProvider @bind-IsDarkMode="UserService.IsDarkMode" Theme="_theme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <PageTitle>ChatUiT</PageTitle>
    
    <MudAppBar Elevation="0" Dense Color="Color.Transparent" DisableGutters>
        @if (!drawerOpen)
        {
            <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowRight" OnClick="() => drawerOpen = true" />
            <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="UserService.NewChat" />
            <MudDivider Vertical Style="height:32px" Class="pl-2" />

        }

        @* Model selection *@
        <MudHidden Breakpoint="Breakpoint.Xs">
            <ModelSelect />
        </MudHidden>
           
        @* Model config *@
        <div class="d-flex">
            <MudIconButton Icon="@Icons.Material.Filled.Settings" OnClick="OpenChatSettings" />
        </div>

        @* Save work item*@
        @if (!UserService.CurrentWorkItem.IsFavorite)
        {            
            <MudTooltip Text="@(CurrentWorkItemPersistant ? "This chat will be saved" : "This chat will not be saved")">
                <MudSwitch @bind-Value="CurrentWorkItemPersistant" 
                    Disabled="UserService.CurrentWorkItem.IsFavorite" 
                    T="bool" 
                    Color="@(UserService.IsDarkMode ? Color.Dark : Color.Default)" 
                    UnCheckedColor="@(UserService.IsDarkMode ? Color.Dark : Color.Default)" 
                    ThumbIconColor="@(CurrentWorkItemPersistant ? Color.Success : Color.Error)" 
                    ThumbIcon="@(CurrentWorkItemPersistant ? Icons.Material.Filled.CloudDone : Icons.Material.Filled.CloudOff)" Size="Size.Large" />
            </MudTooltip>
        }
        <MudSpacer />
        @* Branding? *@
        <MudSpacer />

        @* Render using markdown *@
        <MudToggleIconButton Class="mr-2" Icon="@Icons.Material.Filled.TextSnippet" ToggledIcon="@Icons.Material.Filled.RemoveRedEye" @bind-Toggled="UserService.UseMarkdown" />

        @* Allow user to select how wide the chat area should be*@
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" Dense Class="pr-3">
                <ActivatorContent>
                    <MudIconButton Icon="@Icons.Material.Filled.WidthNormal" />
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem OnClick="@(() => SetChatWidth(ChatWidth.Small))">
                        <div class="d-flex align-items-center" style="width: 150px;">
                            <div class="flex-grow-1 d-flex flex-column justify-content-center">
                                <MudText Typo="Typo.h6" Class="m-0">Small</MudText>
                                <MudText Typo="Typo.subtitle2" Class="m-0">800 pixels</MudText>
                            </div>
                            @if (UserService.ChatWidth == ChatWidth.Small)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Check" Class="ms-auto" Style="margin-top: auto; margin-bottom: auto;" />
                            }
                        </div>
                    </MudMenuItem>
                    <MudDivider />
                    <MudMenuItem OnClick="@(() => SetChatWidth(ChatWidth.Medium))">
                        <div class="d-flex align-items-center" style="width: 150px;">
                            <div class="flex-grow-1 d-flex flex-column justify-content-center">
                                <MudText Typo="Typo.h6" Class="m-0">Medium</MudText>
                                <MudText Typo="Typo.subtitle2" Class="m-0">1200 pixels</MudText>
                            </div>
                            @if (UserService.ChatWidth == ChatWidth.Medium)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Check" Class="ms-auto" Style="margin-top: auto; margin-bottom: auto;" />
                            }
                        </div>
                    </MudMenuItem>
                    <MudDivider />
                    <MudMenuItem OnClick="@(() => SetChatWidth(ChatWidth.Large))">
                        <div class="d-flex align-items-center" style="width: 150px;">
                            <div class="flex-grow-1 d-flex flex-column justify-content-center">
                                <MudText Typo="Typo.h6" Class="m-0">Large</MudText>
                                <MudText Typo="Typo.subtitle2" Class="m-0">1600 pixels</MudText>
                            </div>
                            @if (UserService.ChatWidth == ChatWidth.Large)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Check" Class="ms-auto" Style="margin-top: auto; margin-bottom: auto;" />
                            }
                        </div>
                    </MudMenuItem>
                    <MudDivider />
                    <MudMenuItem OnClick="@(() => SetChatWidth(ChatWidth.Full))">
                        <div class="d-flex align-items-center" style="width: 150px;">
                            <div class="flex-grow-1 d-flex flex-column justify-content-center">
                                <MudText Typo="Typo.h6" Class="m-0">Full</MudText>
                                <MudText Typo="Typo.subtitle2" Class="m-0">Full screen width</MudText>
                            </div>
                            @if (UserService.ChatWidth == ChatWidth.Full)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Check" Class="ms-auto" Style="margin-top: auto; margin-bottom: auto;" />
                            }
                        </div>
                    </MudMenuItem>
                </ChildContent>
            </MudMenu>
        </MudHidden>


        @* Dark mode *@
        <MudSwitch @bind-Value="UserService.IsDarkMode" Color="Color.Dark" ThumbIcon="@(UserService.IsDarkMode ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode)" Size="Size.Large" />


        @* User menu *@
        <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
            <ActivatorContent>
                <MudButton Variant="Variant.Text" Style="width: 48px; height: 48px; min-width: 48px; min-height: 48px; padding: 0; display: flex; align-items: center; justify-content: center;">
                    <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Size="Size.Large"/>
                </MudButton>
            </ActivatorContent>
            <ChildContent>
                <div class="pl-4 pb-2">
                    <MudText Typo="Typo.body2">Logged in as:</MudText>
                    @if (username != "") { <MudText Typo="Typo.body1">@username</MudText> }
                    else { <MudText Typo="Typo.body1">Not logged in</MudText> }
                </div>
                <MudDivider />
                <MudMenuItem OnClick="OpenUserSettings">
                    <MudStack Row Style="width:150px">
                        <MudIcon Icon="@Icons.Material.Filled.Settings" /> 
                        Preferences 
                    </MudStack>
                </MudMenuItem>
                <MudDivider />
                <MudMenuItem OnClick="Logout">
                    <MudStack Row Style="width:150px">
                        <MudIcon Icon="@Icons.Material.Filled.ExitToApp" /> 
                        Logout
                    </MudStack>
                </MudMenuItem>
            </ChildContent>
        </MudMenu>
    </MudAppBar>


    <MudDrawer @bind-Open="drawerOpen" Fixed Elevation="0" Style="background-color: var(--mud-palette-background-grey)">
        <NavMenu OnClose="CloseDrawer" />
    </MudDrawer>

    @* Main Content *@
    <MudMainContent Style="padding-top: 48px">
        <div style="
            display: flex;
            flex-direction: column;
            height: calc(100vh - 48px);
            overflow: auto;
            ">
            @Body
        </div>
    </MudMainContent>

    
</MudLayout>

<style>
    .mud-list.mud-list-padding {
        padding-top: 0px;
        padding-bottom: 0px;
    }
</style>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject] private IUserService UserService { get; set; } = null!;
    [Inject] private IDialogService DialogService { get; set; } = null!;
    [Inject] private IAuthUserService AuthUserService { get; set; } = null!;
    [Inject] private IConfiguration Configuration { get; set; } = null!;
    [Inject] private NavigationManager Nav { get; set; } = null!;
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = null!;

    private string username = "";

    private bool CurrentWorkItemPersistant
    {
        get => UserService.CurrentWorkItem.Persistant;
        set
        {
            UserService.SetSaveHistory(UserService.CurrentWorkItem, value);
        }
    }


    private MudTheme _theme = new();
    // private bool _isHistoryEnabled = true;
    private bool drawerOpen = true;

    protected override void OnInitialized()
    {
        UserService.OnUpdate += UpdateView;
        base.OnInitialized();
        GetUsername();
    }

    public void Dispose()
    {
        UserService.OnUpdate -= UpdateView;
    }

    public void UpdateView()
    {
        StateHasChanged();
    }

    private void CloseDrawer()
    {
        drawerOpen = false;
    }

    private void OpenChatSettings()
    {
        DialogOptions chatSettingsOptions = new DialogOptions
        {
            MaxWidth = MaxWidth.ExtraExtraLarge,
            NoHeader = false,
            CloseButton = true,
            FullWidth = false,
            ClassBackground = "bg-transparent",
        };
        DialogService.Show<ChatSettingsView>(title: "Chat settings", options: chatSettingsOptions);
    }

    private async void GetUsername()
    {
        var result = await AuthUserService.GetUsername();
        if (result != null)
        {
            username = result;
        }
        else
        {
            username = "";
        }
        StateHasChanged();
    }


    private void SetChatWidth(ChatWidth width)
    {
        Console.WriteLine($"Setting chat width to {width}");
        UserService.ChatWidth = width;
    }

    private void OpenUserSettings()
    {
        // TODO: Implement
    }

    private async void Logout()
    {
        await Task.Delay(10);

        Nav.NavigateTo("/signout-oidc");
    }

    private void ChangeDarkmode(bool value)
    {
        UserService.IsDarkMode = value;
        UserService.RaiseUpdate();
    }

}