@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Formats.Png
@using SixLabors.ImageSharp.PixelFormats
@using SixLabors.ImageSharp.Processing

<div style="" class="ma-2">

        @if (File.FileType == FileType.Image)
        {
            <MudImage Src="@GetImageSrc()" Alt="@File.FileName" Style="height: 64px; width: 64px; border-radius:16px;"/>
        }
        else if (File.FileType == FileType.Document)
        {
            <MudPaper Style="border-radius: 16px; height: 64px; width: 128px;">

            <MudStack Row>

            <MudIcon Icon="@Icons.Material.Filled.AttachFile" Style="width: 32px; height: 32px; margin-left: 8px; margin-top: 16px;" />
            <MudStack Class="pt-2" Spacing="0">
                <MudText Typo="Typo.h4">@File.FileName</MudText>
                <MudText Typo="Typo.h6">Document</MudText>
            </MudStack>
            
            </MudStack>
            </MudPaper>
        }
        else if (File.FileType == FileType.Data)
        {
            <MudIcon Icon="@Icons.Material.Filled.DataArray" Style="width: 56px; height: 56px;" />
        }

        @* <MudText Typo="Typo.body2">@File.FileName</MudText> *@
    
</div>

@code {
    [Parameter] public ChatFile File { get; set; } = null!;

    private string GetImageSrc()
    {
        return $"data:image/png;base64,{GenerateThumbnailBase64(File)}";
    }

    public static string GenerateThumbnailBase64(ChatFile chatFile)
    {
        if (chatFile.Bytes == null)
        {
            throw new ArgumentException("Invalid image file.");
        }

        using (var ms = new MemoryStream(chatFile.Bytes))
        {
            using (var originalImage = Image.Load<Rgba32>(ms))
            {
                int originalWidth = originalImage.Width;
                int originalHeight = originalImage.Height;
                int cropSize = Math.Min(originalWidth, originalHeight);
                int cropX = (originalWidth - cropSize) / 2;
                int cropY = (originalHeight - cropSize) / 2;

                // Crop the image to a square
                var croppedImage = originalImage.Clone(ctx => ctx.Crop(new Rectangle(cropX, cropY, cropSize, cropSize)));

                // Resize the image to 64x64
                croppedImage.Mutate(ctx => ctx.Resize(new ResizeOptions
                    {
                        Size = new SixLabors.ImageSharp.Size(64, 64),
                        Mode = SixLabors.ImageSharp.Processing.ResizeMode.Max
                    }));

                using (var thumbnailStream = new MemoryStream())
                {
                    croppedImage.Save(thumbnailStream, new PngEncoder());
                    return Convert.ToBase64String(thumbnailStream.ToArray());
                }
            }
        }
    }
}
